@import "compass";

/* -------- Global -------- */

#heading .page-title, #navigation h1, #navigation .child-menu, #skip-to-content {
	clip: rect(0 0 0 0);
	position: absolute;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#sign-in {
	position: absolute;
	top: 1em;
}

#skip-to-content {
	top: 2.25em;

	&:active, &:focus {
		clip: auto;
	}
}

#sign-in, #skip-to-content {
	color: #1C4980;
	right: 1.5em;
	z-index: 4;
}

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 970px;
}

/* -------- Heading -------- */

#banner {
	background: url(../images/custom/banner_bg.png) left bottom;
	overflow: hidden;
	padding: 6px 24px;
	position: relative;
}

#heading .site-title {
	margin: 0;

	img {
		margin: 0 auto;
	}

	.site-name {
		@include border-radius(4px);
		@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #FFF);
		background-color: #226AB0;
		color: #FFF;
		font-size: 1em;
		font-weight: bold;
		padding: 7px 17px;
		position: absolute;
		right: 3em;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
		top: 1em;
	}
}

/* ---------- Page search ---------- */

#page-search {
	float: right;
	height: 20px;
	margin: 0 5px 0 0;
	position: absolute;
	right: 0;
	top: 40px;
}

/* -------- Navigation -------- */

#navigation {
	background: url(../images/custom/navigation_bg.png) left bottom;
	height: 31px;
	margin: 0 0 14px;
	padding: 9px 24px;

	a {
		color: #FFF;
		display: block;
		font: 11px/23px Lucida Sans Unicode, Lucida Grande, sans-serif;
		padding: 1px 12px;
		text-decoration: none;

		&:active, &:focus, &:hover {
			background: #32AFEE url(../images/custom/navigation_item_hover.png);
			border: 1px solid #1C4980;
			border-color: #1D4A81 #1D4A81 #20487B #0D376E;
			padding: 0 11px;
		}
	}

	ul {
		list-style: none;
		margin: 0;

		&:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
	}

	.selected a {
		background: #32AFEE url(../images/custom/navigation_item_selected.png);
		border: 1px solid #1C4980;
		border-color: #1C4980 #1D4A81 #1F477A #0D376E;
		padding: 0 11px;
	}
}

#navigation a, #navigation li {
	float: left;
}

.ie6 #navigation ul, .ie7 #navigation ul {
	zoom: 1;
}

/* -------- Content -------- */

#breadcrumbs {
	display: none;
}

#content {
	background: url(../images/custom/content_bg.png) repeat-y center top;
	padding: 10px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 28px;
}

.portlet-content {
	padding: 10px;
}

.portlet-title {
	color: #12558E;
	display: block;
	font: 14px/25px Lucida Sans Unicode, Lucida Grande, sans-serif;
	height: 25px;
}

.portlet-topper {
	border-bottom: 2px solid #12558E;
}

/* -------- Footer -------- */

#footer {
	background: #002F62 url(../images/custom/footer_bg.png) no-repeat left -50px;
	height: 25px;
	padding: 0 3px;

	.language {
		float: right;
		margin: 4px;
	}
}