## ---------- Logo ---------- ##

#if (($company.getLogoId() == 0) && $use_company_logo)
	#set ($site_logo = "${images_folder}/custom/logo.png")
	#set ($site_logo_height = 66)
	#set ($site_logo_width = 183)
#end

## ---------- Header/Footer ---------- ##

#if ($has_navigation && $nav_items.get(0).isSelected())
	#set ($css_class = $css_class + " home-page")
#end

#set ($show_breadcrumbs = $getterUtil.getBoolean($!theme_display.getThemeSetting('show-breadcrumbs')))
#set ($footer_social = $journalContentUtil.getContent($group_id, "FOOTER-SOCIAL", null, "$locale", $theme_display))

## ---------- Mobile ---------- ##

#set ($is_mobile_enabled = $getterUtil.getBoolean($sessionClicks.get($request, "mobile-enabled", "true")))

#set ($meta_data_mobile = '')

#set ($user_agent = $request.getHeader("User-Agent").toLowerCase())

#set ($is_iphone = $user_agent.indexOf("iphone") != -1)

#set ($is_ipad = $user_agent.indexOf("ipad") != -1)

#set ($is_android = $user_agent.indexOf("android")!= -1)

#set ($is_mobile = $is_android || $is_ipad || $is_iphone)

#set ($html_class = "")

#set ($desktop_text = "Go To Mobile View")

#if ($is_mobile_enabled == true)
	#set ($css_class = "${css_class} mobile-enabled")
	#set ($meta_data_mobile = '<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">')
	#set ($desktop_text = "Go To Desktop View")
#end

#if ($is_mobile)
	#set ($css_class = "${css_class} mobile")
#end