#*
This file allows you to override and define new Velocity variables.
*#

#set ($groupLocalService = $serviceLocator.findService("com.liferay.portal.service.GroupLocalService"))
#set ($company_id = $company.getCompanyId())
#set ($guest_group_id = $groupLocalService.fetchGroup($company_id, "Guest").getGroupId())
#set ($guest_group = $groupLocalService.getGroup($guest_group_id))

#set ($layoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))
#set ($guest_layouts = $layoutLocalService.getLayouts($guest_group.getGroupId(), false))

#set($groupList = $groupLocalService.getGroups(-1, -1))
#set($page_group = $layout.getGroup())
#set($page_group_url = $page_group.getPathFriendlyURL($layout.isPrivateLayout(), $theme_display))

#set ($site_default_plid = $layoutLocalService.getDefaultPlid($guest_group_id))
#set ($site_default_url = $layoutLocalService.getLayout($site_default_plid).getRegularURL($request))

## --------- Logo --------- ##

#if (($company.getLogoId() == 0) && $use_company_logo)
	#set ($site_logo = "${images_folder}/custom/theme-logo.png")
#end

#set ($address = "1234 Awesome Ave<br>Amazing, CA 77777")

## ---------- Mobile ---------- ##

#set ($is_mobile_enabled = $getterUtil.getBoolean($sessionClicks.get($request, "mobile-enabled", "true")))

#set ($meta_data_mobile = '')

#set ($user_agent = $request.getHeader("User-Agent").toLowerCase())

#set ($is_iphone = $user_agent.indexOf("iphone") != -1)

#set ($is_ipad = $user_agent.indexOf("ipad") != -1)

#set ($is_android = $user_agent.indexOf("android")!= -1)

#set ($is_mobile = $is_android || $is_ipad || $is_iphone)

#set ($html_class = "")

#if ($is_mobile_enabled == true)
	#set ($css_class = "${css_class} mobile-enabled")
	#set ($meta_data_mobile = '<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">')
#end

#if ($is_mobile)
	#set ($css_class = "${css_class} mobile")
#end