#*
This file allows you to override and define new Velocity variables.
*#

#set ($groupLocalService = $serviceLocator.findService("com.liferay.portal.service.GroupLocalService"))
#set ($guest_group = $groupLocalService.getGroup(10657))

#set ($layoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))
#set ($guest_layouts = $layoutLocalService.getLayouts($guest_group.getGroupId(), false))

#set($groupList = $groupLocalService.getGroups(-1, -1))
#set($page_group = $layout.getGroup())
#set($page_group_url = $page_group.getPathFriendlyURL($layout.isPrivateLayout(), $theme_display))