@import "compass";

/* -------- Global -------- */

#heading .page-title, #navigation h1, #navigation .child-menu, #skip-to-content {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background-color: #E7E7E7;
}

html {
	min-height: 100%;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#sign-in {
	position: absolute;
	top: 1.5em;
}

#skip-to-content {
	top: 2.75em;

	&:active, &:focus {
		clip: auto;
	}
}

#sign-in, #skip-to-content {
	color: #FFF;
	right: 2em;
}

#wrapper {
	margin: 16px auto;
	position: relative;
	width: 967px;
}

/* -------- Heading -------- */

#heading {
	background: url(../images/custom/heading_bg.png) no-repeat;
	height: 194px;

	.logo {
		display: block;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	.site-title {
		margin: 0;
		padding: 70px 30px;

		.site-name {
			@include border-radius(4px);
			@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #FFF);
			background-color: #E7E7E7;
			color: #FFF;
			font-size: 1em;
			font-weight: bold;
			padding: 7px 17px 7px 17px;
			position: absolute;
			right: 2em;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
			top: 2em;
		}
	}
}

/* -------- Navigation -------- */

#navigation {
	margin: 28px 0;
	right: 5px;
	position: absolute;
	width: 182px;

	a {
		color: #27A;
		font-family: Verdana, Arial, Sans-Serif;
		font-size: 14px/1.5;

		&:active, &:focus, &:hover {
			text-decoration: underline;
		}

	}

	ul {
		list-style: none;
		margin: 0;

		&:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
	}
}

#navigation a, #navigation li {
	text-decoration: none;
}

.ie6 #navigation {
	margin: 5px;

	.delete-tab {
		right: 0;
		top: 5px;
	}
}

.ie6 #navigation ul, .ie7 #navigation ul {
	zoom: 1;
}

/* -------- Content -------- */

#breadcrumbs {
	display: none;
}

#content {
	background: url(../images/custom/content_bg.png);
	min-height: 220px;
	padding: 20px 202px 0 22px;
}

.ie6 #content {
	margin-top: -22px;
}

/* ---------- Portlet ---------- */

.portlet {
	margin: 0 0 20px;
}

.portlet-content {
	color: #444;
	font: 12px/1.8 Lucida Grande, Verdana, Arial, sans-serif;
	padding: 0;
}

.portlet-title {
	font: 18px Trebuchet MS, Verdana, sans-serif;
	letter-spacing: -1px;

	img {
		display: none;
	}
}

.portlet-topper {
	margin: 0 0 8px;
}

/* -------- Footer -------- */

#footer {
	background: url(../images/custom/footer_bg.png);
	height: 54px;

	p {
		margin-left: 20px;
	}
}