@import "compass";

/* -------- Global -------- */

#heading .page-title, #navigation h1, #navigation .child-menu, #skip-to-content {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background: url(../images/custom/body_bg.gif) repeat-x left top;
}

html {
	background: #CCD8E0 url(../images/custom/html_bg.jpg) repeat-x left bottom;
	min-height: 100%;
}

#content, #navigation {
	background-color: #FFF;
	padding: 10px;
}

#content {
	padding-top: 0;
}

#footer, #heading .company-title {
	padding: 20px 10px;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#sign-in {
	position: absolute;
	top: 1.5em;
}

#skip-to-content {
	top: 3em;
	z-index: 4;

	&:active, &:focus {
		clip: auto;
	}
}

#sign-in, #skip-to-content {
	color: #FFF;
	right: 2em;
}

#wrapper {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	margin: 0 auto;
	position: relative;
	width: 780px;
}

/* -------- Heading -------- */

#heading {
	height: 120px;
	margin: 0 0 5px;
	position: relative;

	.site-title {
		margin: 0;
		padding: 20px 10px;

		.site-name {
			@include border-radius(4px);
			@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #FFF);
			background-color: #ABBECA;
			color: #FFF;
			font-size: 1em;
			font-weight: bold;
			padding: 7px 17px;
			position: absolute;
			right: 0;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
		}
	}
}

.signed-out #heading .site-title .site-name {
	margin-top: 1em;
}

/* -------- Navigation -------- */

#navigation {
	a {
		border-right: 1px solid #AFBEC7;
		color: #456;
		display: block;
		height: 14px;
		padding: 13px 20px;
		text-decoration: none;

		&:active, &:focus, &:hover {
			@include background-image(linear-gradient(top left, #E3E9EC, #C6D2D9));
			background-color: #C6D2D9;
			color: #234;
		}
	}

	ul {
		@include background-image(linear-gradient(top, #F0F3F5, #D2DDE1));
		background-color: #D2DDE1;
		border: 1px solid #CFDEE7;
		border-color: #DFEEF7 #CFDEE7 #BFCDD4;
		list-style: none;
		margin: 0;

		&:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
	}
}

#navigation a, #navigation li {
	float: left;
}

.ie6 #navigation ul, .ie7 #navigation ul {
	zoom: 1;
}

/* -------- Breadcrumbs -------- */

#breadcrumbs {
	display: none;
}

/* ---------- Portlet ---------- */

.aui-tab-active span a {
	color: #FFF;
}

.portlet {
	margin: 0 0 8px;
}

.portlet-content {
	padding: 0;
}

.portlet-topper {
	padding: 6px 0 4px;
}

/* -------- Footer -------- */

#footer {
	background-color: #ABBECA;
	border-top: 5px solid #B7C7D1;

	p {
		margin: 0;
	}
}