@import "compass";
@import url(color-schemes/blue.css);

$gray-border: #DFDFDF;
$gray-font: #1A1A1A;
$hover-color: #EAEAEA;

body {
	font: 13px/1.5em Helvetica, Arial, sans-serif;
	color: $gray-font;
}

#navigation h1,
 #skip-to-content,
 .page-title,
 .site-breadcrumbs {
	display: none;
}

#sign-in,
#banner,
#navigation ul,
#navigation li,
#navigation li:hover .child-menu,
#navigation .child-menu li, 
.portlet-topper {
	border: 1px solid $gray-border;
}

#banner {
	border-width: 0 0 1px;

	&:after {
		content: "";
		clear: both;
		display: block;
	}
}

#sign-in {
	color: $gray-font;
	float: right;
	margin: 9px 9px;
	padding: 3px 15px;
	text-decoration: none;
}

.site-title {
	float: left;
	margin: 0;
	
	img {
		border-right: solid 1px $gray-border;
		height: 41px;
		padding: 3px 14px 0px 12px;
		width: auto;
	}
}

/* ---------- NAVIGATION ---------- */

#navigation {
	ul {
		float: left;
		list-style: none;
		margin: 9px 25px;
		
		&:after {
			content: "";
			clear: both;
		}
	}
	
	li {
		border-width: 0 0 0 0;
		float: left;
		position: relative;
		
		&:hover .child-menu {
			background: $hover-color;
			display: block;
			float: none;
			left: -50px;
			margin: 5px 0 0 0;
			position: absolute;
			top: 26px;
			width: 200px;
			z-index: 5;
		}

		&:last-child a {
			border-right-color: transparent;
		}

		&.has-children:hover {
			padding-bottom: 5px;
			margin-bottom: -5px;
		}
	}

	a {
		border: solid 1px transparent;
		color: $gray-font;
		display: block;
		padding: 3px 20px;
		text-decoration: none;
		word-wrap: break-word;
		border-right-color: $gray-border;
	}

	.child-menu {
		display: none;

		li {
			background: #FFF;
			border-top: 0;
			float: none;
			margin: 0 auto;
			width: 190px;
			
			a {
				border: solid 1px transparent;
				padding: 5px 9px;
				text-align: center;
			}
			
			&:first-child {
				border-top: solid 1px $gray-border;
				margin-top: 5px;
			}

			&:last-child {
				margin-bottom: 5px;
				border-right: solid 1px $gray-border;
			}
				
			&:hover .grandchild-menu {
				background: $hover-color;
				display: block;
				left: 175px;
				position: absolute;
				top: -13px;
				width: 150px;
			}

			#right-triangle {
				position: absolute;
				left: 181px;
				top: 5px;
				display: block;
			}

			&:hover #right-triangle {
				display: none;
			}
		}
		
		&:before, &:after {
			border: 10px solid transparent;
			border-bottom-color: $gray-border;
			content: "";
			display: block;
			left: 90px;
			position: absolute;
			top: -20px;
		}

		&:after {
			border-bottom-color: $hover-color;
			top: -19px;
		}
		
		.selected a,
 		.selected a:hover {
			background: #878787;
		}
	}

	.grandchild-menu {
		display: none;
		
		li {
			width: 140px;
		}
		
		&:before, &:after {
			border: 10px solid transparent;
			border-right-color: $gray-border;
			content: "";
			display: block;
			left: -20px;
			position: absolute;
			top: 9px;
		}
		
		&:after {
			border-right-color: $hover-color;
			left: -19px;
		}

		&:hover {
			background: $hover-color;
		}
	}

	ul .selected {
		.child-menu .selected a {
			color: #FFF;
			text-shadow: -1px -1px 0px #000;
		}

		a,
 		.child-menu .selected a,
 		.child-menu .selected a:hover, 
 		.child-menu .selected .grandchild-menu .selected a,
 		.child-menu .selected .grandchild-menu .selected a:hover {
			background: #878787;
			border: solid 1px #555555;
			color: #FFF;
			text-shadow: -1px -1px 0px #000;
		}
		
		.child-menu a,
 		.child-menu .selected .grandchild-menu a {
			background: #FFF;
			border: 0;
			text-shadow: 0 0 0;
		}

		a:hover,
 		.child-menu .selected a:hover, 
 		.child-menu .selected .grandchild-menu .selected a:hover {
			color: $gray-border;
		}
		
		.child-menu a,
 		.child-menu .selected .grandchild-menu a {
			color: $gray-font;
		}

 		.child-menu .selected .grandchild-menu a:hover {
 			background: $hover-color;
 		}
	}
}

/* ---------- PORTLET ---------- */

.portlet-column-content {
	margin: 7px 5px;
	padding: 5px 2.5px;
}

.portlet-column {
	&:first-child {
		padding-left: 8px;
	}

	&:last-child {
		padding-right: 8px;
	}
}

.portlet-topper, 
.portlet-title .icon{
	padding: 3px;
}

.portlet-title-text {
	padding: 3px 80px 3px 3px;
}

.portlet-topper-toolbar {
	float: right;
	padding: 0;
}

.portlet a {
	color: $gray-font;
	
	&:hover {
		color: #8F8F8F;
		text-decoration: none;
	}
}

/* ---------- MISCELLANEOUS ---------- */

#sign-in, 
#navigation li, 
#navigation .selected .child-menu a,
#navigation .selected .child-menu .selected .grandchild-menu a,
.portlet-topper, 
.portlet-title-text {
	text-shadow: 0px 1px 0px #FFF;
}

.aui-column-content {
	padding: 0;
}

.breadcrumbs li {
	padding: 5px;
}

.header-back-to {
	float: right;
	margin: 15px;
}

.lfr-header-row,
 .portlet-section-header th,
 .portlet-wiki .child-pages h2,
 .results-row.alt td,
 .site-breadcrumbs {
	border: 1px solid $gray-border;
	color: $gray-font;
}

.lfr-header-row-content {
	padding: 7px;
}

.lfr-panel-container {
	border: 1px solid $gray-border;
	padding: 5px;
}

/* ---------- Mobile ---------- */

.mobile {

}

/* ---------- EXTRAS ---------- */

#banner, 
#navigation ul,
.portlet-topper,
#sign-in {
	@include background(linear-gradient(#FFF, $hover-color));
}

#navigation a:hover,
#sign-in:hover,
#navigation .child-menu a:hover,
#navigation .selected .child-menu a:hover,
#navigation .child-menu .selected .grandchild-menu a:hover {
	@include background(linear-gradient(#EFEFEF, #CFCFCF));
}

#sign-in, 
#navigation ul, 
#navigation .child-menu li:last-child, 
#navigation .child-menu li:last-child:hover {
	@include box-shadow(#FFF 0px 1px 0px);
}

#sign-in:hover {
	@include box-shadow(#FFF 1px 0px 0px);
}

#navigation	li:hover .child-menu, 
#navigation .child-menu li:hover .grandchild-menu {
	@include box-shadow(#BFBFBF 0px 2px 5px);
}

#navigation .child-menu .selected a,
#navigation .child-menu .selected a:hover,
#navigation .selected a,
#navigation .selected .child-menu .selected a,
#navigation .selected .child-menu .selected a:hover, 
#navigation .child-menu .selected .grandchild-menu li.selected a,
#navigation .child-menu .selected .grandchild-menu li.selected a:hover {
	@include box-shadow(#575757 0px 0px 15px 0px inset);
}

#navigation .child-menu .selected .grandchild-menu a:hover, 
#navigation .selected .child-menu a,
#navigation .selected .child-menu .selected .grandchild-menu a, 
#navigation li:last-child:hover{
	@include box-shadow(0px 0px 0px 0px);
}

#navigation ul,
.portlet-topper,
#sign-in, 
.lfr-panel-container, 
#navigation li .child-menu li:first-child:last-child, 
#navigation li .child-menu li:first-child:last-child a,
#navigation li .child-menu li:first-child:last-child a:hover,
#navigation li .child-menu .grandchild-menu li:first-child:last-child, 
#navigation li .child-menu .grandchild-menu li:first-child:last-child a,
#navigation li .child-menu .grandchild-menu li:first-child:last-child a:hover,
#navigation li:first-child a,
#navigation li:last-child a,
#navigation li:first-child a:hover,
#navigation li:last-child a:hover,
#navigation li .child-menu li:first-child,
#navigation li .child-menu li:last-child,
#navigation li .child-menu li:first-child a,
#navigation li .child-menu li:last-child a,
#navigation li .child-menu li:first-child a:hover,
#navigation li .child-menu li:last-child a:hover, 
#navigation li .child-menu li .grandchild-menu li:first-child, 
#navigation li .child-menu li .grandchild-menu li:last-child, 
#navigation li .child-menu li .grandchild-menu li:first-child a, 
#navigation li .child-menu li .grandchild-menu li:last-child a, 
#navigation li .child-menu li .grandchild-menu li:first-child a:hover, 
#navigation li .child-menu li .grandchild-menu li:last-child a:hover  {
	@include border-radius(4px);
}

#navigation li:first-child li a,
#navigation li:last-child li a,
#navigation li:first-child li a:hover,
#navigation li:last-child li a:hover,
#navigation li .child-menu li:first-child li,
#navigation li .child-menu li:last-child li,
#navigation li .child-menu li:first-child li a,
#navigation li .child-menu li:last-child li a,
#navigation li .child-menu li:first-child li a:hover,
#navigation li .child-menu li:last-child li a:hover, 
#navigation li .child-menu li .grandchild-menu li:first-child li, 
#navigation li .child-menu li .grandchild-menu li:last-child li, 
#navigation li .child-menu li .grandchild-menu li:first-child li a, 
#navigation li .child-menu li .grandchild-menu li:last-child li a, 
#navigation li .child-menu li .grandchild-menu li:first-child li a:hover, 
#navigation li .child-menu li .grandchild-menu li:last-child li a:hover {
	@include border-radius(0px);
}

#navigation li:first-child a, 
#navigation li:first-child a:hover  {
	@include border-corner-radius(top, right, 0px);
	@include border-corner-radius(bottom, right, 0px);
}

#navigation li:last-child a, 
#navigation li:last-child a:hover  {
	@include border-corner-radius(top, left, 0px);
	@include border-corner-radius(bottom, left, 0px);
}

#navigation li .child-menu li:first-child,
#navigation li .child-menu li:first-child a,
#navigation li .child-menu li:first-child a:hover,
#navigation li .child-menu li .grandchild-menu li:first-child,  
#navigation li .child-menu li .grandchild-menu li:first-child a, 
#navigation li .child-menu li .grandchild-menu li:first-child a:hover {
	@include border-corner-radius(bottom, right, 0px);
	@include border-corner-radius(bottom, left, 0px);
}

#navigation li .child-menu li:last-child,
#navigation li .child-menu li:last-child a,
#navigation li .child-menu li:last-child a:hover,  
#navigation li .child-menu li .grandchild-menu li:last-child,  
#navigation li .child-menu li .grandchild-menu li:last-child a, 
#navigation li .child-menu li .grandchild-menu li:last-child a:hover {
	@include border-corner-radius(top, right, 0px);
	@include border-corner-radius(top, left, 0px);
}

#navigation a:hover, #navigation .child-menu a:hover {
	border-top-color: #EFEFEF;
	border-bottom-color: #CFCFCF;
}