@import "compass";
@import url(color-schemes/blue.css);

$gray-border: #DFDFDF;
$gray-font: #1A1A1A;
$hover-color: #EAEAEA;

body {
	font: 13px/1.5em Helvetica, Arial, sans-serif;
	color: $gray-font;
}

#navigation h1,
#skip-to-content,
.page-title,
.site-breadcrumbs {
	display: none;
}

#dockbar,
#sign-in,
#banner,
#navigation ul,
#navigation li,
#navigation li:hover .child-menu,
#navigation .child-menu li,
.portlet-topper {
	border: 1px solid $gray-border;
}

#banner:after, #navigation ul:after {
	content: "";
	clear: both;
	display: block;
}

#banner {
	border-width: 0 0 1px;
	width: 100%;
}

#sign-in {
	color: $gray-font;
	float: right;
	margin: 9px 9px;
	padding: 3px 15px;
	text-decoration: none;
}

.site-title {
	float: left;
	margin: 0;

	.logo {
		line-height: 0;
	}

	img {
		border-right: solid 1px $gray-border;
		height: 41px;
		padding: 1px 14px 0px 10px;
		width: auto;
	}

	.site-name {
		font-size: .85em;
	}
}

#footer {
	margin: 5px 10px;
}

#toggle span {
	clip: rect(0 0 0 0);
	font-size: 0;
	line-height: 0;
	position: absolute;
	text-indent: -9999em;
}

/* ---------- NAVIGATION ---------- */

#navigation {
	ul {
		float: left;
		list-style: none;
		margin: 9px 25px;

		&:after {
			content: "";
		}
	}

	li {
		border-width: 0 0 0 0;
		float: left;
		position: relative;

		&:hover .child-menu {
			display: block;
		}

		&:last-child a {
			border-right-color: transparent;
		}

		&.has-children:hover {
			padding-bottom: 5px;
			margin-bottom: -5px;
		}
	}

	a {
		border: solid 1px transparent;
		color: $gray-font;
		display: block;
		padding: 3px 20px;
		text-decoration: none;
		word-wrap: break-word;
		border-right-color: $gray-border;
	}

	.child-menu {
		display: none;
		background: $hover-color;
		float: none;
		left: -50px;
		margin: 5px 0 0 0;
		position: absolute;
		top: 26px;
		width: 200px;
		z-index: 5;

		li {
			background: #FFF;
			border-top: 0;
			float: none;
			margin: 0 auto;
			width: 190px;

			a {
				border: solid 1px transparent;
				padding: 5px 9px;
				text-align: center;
			}

			&:first-child {
				border-top: solid 1px $gray-border;
				margin-top: 5px;
			}

			&:last-child {
				margin-bottom: 5px;
				border-right: solid 1px $gray-border;
			}

			&:hover .grandchild-menu {
				display: block;
			}

			#right-triangle {
				position: absolute;
				left: 181px;
				top: 5px;
				display: block;
			}

			&:hover #right-triangle {
				display: none;
			}
		}

		.selected {
			a, a:hover {
				background: #878787;
			}
		}
	}

	.grandchild-menu {
		display: none;
		background: $hover-color;
		left: 175px;
		position: absolute;
		top: -13px;
		width: 150px;

		li {
			width: 140px;
		}

		&:hover {
			background: $hover-color;
		}
	}

	ul .selected {
		.child-menu .selected a {
			color: #FFF;
			text-shadow: -1px -1px 0px #000;
		}

		a,
 		.child-menu .selected a,
 		.child-menu .selected a:hover,
 		.child-menu .selected .grandchild-menu .selected a,
 		.child-menu .selected .grandchild-menu .selected a:hover {
			background: #878787;
			border: solid 1px #555555;
			color: #FFF;
			text-shadow: -1px -1px 0px #000;
		}

		.child-menu a,
 		.child-menu .selected .grandchild-menu a {
			background: #FFF;
			border: 0;
			text-shadow: 0 0 0;
		}

		a:hover,
 		.child-menu .selected a:hover,
 		.child-menu .selected .grandchild-menu .selected a:hover {
			color: $gray-border;
		}

		.child-menu a,
 		.child-menu .selected .grandchild-menu a {
			color: $gray-font;
		}

 		.child-menu .selected .grandchild-menu a:hover {
 			background: $hover-color;
 		}
	}

	.child-menu:before, .child-menu:after, .grandchild-menu:before, .grandchild-menu:after {
		border: 10px solid transparent;
		border-bottom-color: $gray-border;
		content: "";
		display: block;
		left: 90px;
		position: absolute;
		top: -20px;
	}

	.child-menu:after {
		border-bottom-color: $hover-color;
		top: -19px;
	}

	.grandchild-menu:before, .grandchild-menu:after {
		border-right-color: $gray-border;
		border-bottom-color: transparent;
		left: -20px;
		top: 9px;
	}

	.grandchild-menu:after {
		border-right-color: $hover-color;
		left: -19px;
	}
}

/* ---------- PORTLET ---------- */

.portlet-column-content {
	margin: 7px 5px;
	padding: 5px 2.5px;
}

.portlet-column {
	&:first-child {
		padding-left: 8px;
	}

	&:last-child {
		padding-right: 8px;
	}
}

.portlet-topper,
.portlet-title .icon {
	padding: 3px;
}

.portlet-title-text {
	padding: 3px 80px 3px 3px;
}

.portlet-topper-toolbar {
	float: right;
	padding: 0;
}

.portlet a {
	color: $gray-font;

	&:hover {
		color: #8F8F8F;
		text-decoration: none;
	}
}

/* ---------- MISCELLANEOUS ---------- */

#sign-in,
#navigation li,
#navigation .selected .child-menu a,
#navigation .selected .child-menu .selected .grandchild-menu a,
.portlet-topper,
.portlet-title-text {
	text-shadow: 0px 1px 0px #FFF;
}

.aui-column-content {
	padding: 0;
}

.breadcrumbs li {
	padding: 5px;
}

.header-back-to {
	float: right;
	margin: 15px;
}

.lfr-header-row,
.portlet-section-header th,
.portlet-wiki .child-pages h2,
.results-row.alt td,
.site-breadcrumbs {
	border: 1px solid $gray-border;
	color: $gray-font;
}

.lfr-header-row-content {
	padding: 7px;
}

.lfr-panel-container {
	border: 1px solid $gray-border;
	padding: 5px;
}

/* ---------- Mobile ---------- */

.mobile {
	#wrapper {
		padding-left: 225px;
	}

	#toggle {
		background: url(../images/custom/toggleImage.png) 50% center no-repeat;
		border-right: 1px solid $gray-border;
		cursor: pointer;
		display: block;
		float: left;
		height: 44px;
		width: 50px;
	}

	.modify-pages .delete-tab {
		display: inline-block;
		float: right;
		margin-top: 0px;
		padding: 3px;
		position: relative;
		right: 4px;
		top: -4px;
	}

	#navigation {
		background: $hover-color;
		bottom: 0;
		height: 100%;
		left: 0px;
		overflow-y: auto;
		padding: 0px;
		position: fixed;
		top: 0;
		width: 225px;

		ul, li, ul.child-menu, ul.grandchild-menu, ul.child-menu li, ul.child-menu ul.grandchild-menu li {
			background: transparent;
			border-width: 0;
			display: block;
			float: none;
			margin: 0;
			padding: 0;
			position: static;
			text-shadow: none;
			width: auto;
		}

		li:hover ul, .child-menu li:hover ul, .child-menu li:hover:last-child {
			border-width: 0;
		}

		ul {
			margin-right: 2px;

			li .nav-expand, &.child-menu ul.grandchild-menu.nav-expand {
				display: block;
			}

			li a {
				text-align: left;
			}

			a,
			a:hover,
			ul.child-menu a,
			ul.child-menu ul.grandchild-menu a,
			ul.child-menu li:hover a,
			ul.child-menu ul.grandchild-menu li:hover a,
			.selected a,
			ul.child-menu .selected a,
			ul.child-menu ul.grandchild-menu .selected a,
			.selected ul.child-menu .selected ul.grandchild-menu a,
			ul.child-menu .selected ul.grandchild-menu .selected a,
			ul.child-menu .selected:hover a,
			ul.child-menu .selected ul.grandchild-menu .selected:hover a {
				background: transparent;
				border-width: 0;
				color: $gray-font;
				text-shadow: none;
			}
		}

		.triangle {
			display: inline-block;
			float: left;
			padding-right: 5px;
		}

		.child-menu li #right-triangle, .child-menu li:hover #right-triangle {
			display: inline-block;
			left: 0;
			position: relative;
			top: -1px;
		}

		li.selected {
			background: #FFF;
		}

		li, li:hover, li.selected {
			margin-bottom: 10px;
			padding: 5px 0px;
		}

		ul.child-menu, ul.child-menu ul.grandchild-menu {
			padding-left: 25px;
			/*display: none;*/
		}
	}
}

.mobile .navigation-collapsed {
	#navigation {
		left: -225px;
	}

	#wrapper {
		margin-left: -225px;
	}
}

.dockbar-ready #navigation {
	top: 33px;
}

/* ---------- MEDIA QUERY ---------- */

@media screen and (min-width: 750px) and (max-width: 768px) {
	#column-1 {
		float: left;
		margin: 0;
		padding: 0;
		width: 50%;
	}

	#column-2 {
		float: right;
		margin: 0;
		padding: 0;
		width: 50%;
	}

	#column-3 {
		clear: both;
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
	}
}

@media screen and (max-width: 750px) {
	#column-1 {
		display: block;
		width: 98%;
	}

	#column-2 {
		display: block;
		width: 98%;
	}

	#column-3 {
		display: block;
		width: 98%;
	}
}

/* ---------- EXTRAS ---------- */

#dockbar,
#banner,
#navigation ul,
#sign-in,
.portlet-topper{
	@include background(linear-gradient(#FFF, $hover-color));
}

#navigation a:hover,
#sign-in:hover,
#navigation .child-menu a:hover,
#navigation .selected .child-menu a:hover,
#navigation .child-menu .selected .grandchild-menu a:hover {
	@include background(linear-gradient(#EFEFEF, #CFCFCF));
}

#sign-in,
#navigation ul,
#navigation .child-menu li:last-child,
#navigation .child-menu li:last-child:hover {
	@include box-shadow(#FFF 0px 1px 0px);
}

#sign-in:hover {
	@include box-shadow(#FFF 1px 0px 0px);
}

#navigation	li:hover .child-menu,
#navigation .child-menu li:hover .grandchild-menu {
	@include box-shadow(#BFBFBF 0px 2px 5px);
}

#sign-in,
.portlet-topper,
.lfr-panel-container {
	@include border-radius(4px);
}

#navigation {
	ul,
	li:first-child a,
	li:last-child a,
	li:first-child a:hover,
	li:last-child a:hover {
		@include border-radius(4px);
	}

	li .child-menu li {
		&:first-child:last-child,
		&:first-child:last-child a,
		&:first-child:last-child a:hover,
		&:first-child,
		&:first-child a,
		&:first-child a:hover,
		&:last-child,
		&:last-child a,
		&:last-child a:hover {
			@include border-radius(4px);
		}

		.grandchild-menu li {
			&:first-child:last-child,
			&:first-child:last-child a,
			&:first-child:last-child a:hover,
			&:first-child,
			&:first-child a,
			&:first-child a:hover,
			&:last-child,
			&:last-child a,
			&:last-child a:hover  {
				@include border-radius(4px);
			}
		}
	}
}
#navigation {
	.child-menu .selected a,
	.child-menu .selected a:hover,
	.selected a,
	.selected .child-menu .selected a,
	.selected .child-menu .selected a:hover,
	.child-menu .selected .grandchild-menu li.selected a,
	.child-menu .selected .grandchild-menu li.selected a:hover {
		@include box-shadow(#575757 0px 0px 15px 0px inset);
	}

	.child-menu .selected .grandchild-menu a:hover,
	.selected .child-menu a,
	.selected .child-menu .selected .grandchild-menu a,
	li:last-child:hover{
		@include box-shadow(0px 0px 0px 0px);
	}

	a:hover, #navigation .child-menu a:hover {
		border-top-color: #EFEFEF;
		border-bottom-color: #CFCFCF;
	}

	li {
		&:first-child li a,
		&:last-child li a,
		&:first-child li a:hover,
		&:last-child li a:hover {
			@include border-radius(0px);
		}

		.child-menu li {
			&:first-child li,
			&:last-child li,
			&:first-child li a,
			&:last-child li a,
			&:first-child li a:hover,
			&:last-child li a:hover {
				@include border-radius(0px);
			}

			.grandchild-menu li {
				&:first-child li,
				&:last-child li,
				&:first-child li a,
				&:last-child li a,
				&:first-child li a:hover,
				&:last-child li a:hover {
					@include border-radius(0px);
				}
			}
		}

		&:first-child a,
		&:first-child a:hover  {
			@include border-corner-radius(top, right, 0px);
			@include border-corner-radius(bottom, right, 0px);
		}

		&:last-child a,
		&:last-child a:hover  {
			@include border-corner-radius(top, left, 0px);
			@include border-corner-radius(bottom, left, 0px);
		}

		.child-menu li {
			&:first-child,
			&:first-child a,
			&:first-child a:hover,
			.grandchild-menu li:first-child,
			.grandchild-menu li:first-child a,
			.grandchild-menu li:first-child a:hover {
				@include border-corner-radius(bottom, right, 0px);
				@include border-corner-radius(bottom, left, 0px);
			}

			&:last-child,
			&:last-child a,
			&:last-child a:hover,
			.grandchild-menu li:last-child,
			.grandchild-menu li:last-child a,
			.grandchild-menu li:last-child a:hover {
				@include border-corner-radius(top, right, 0px);
				@include border-corner-radius(top, left, 0px);
			}
		}
	}
}

.mobile #navigation {
	li.selected {
		@include box-shadow($hover-color -1px 0px 2px inset);
	}

	ul, li, ul.child-menu, ul.grandchild-menu, ul.child-menu li, ul.child-menu ul.grandchild-menu li {
		@include border-radius(0px);
		@include box-shadow(0 0 0 0);
	}

	li:hover ul, .child-menu li:hover ul, .child-menu li:hover:last-child {
		@include box-shadow(0 0 0 0);
	}

	ul {
		.selected a,
		ul.child-menu .selected a,
		ul.child-menu ul.grandchild-menu .selected a,
		.selected ul.child-menu .selected ul.grandchild-menu a,
		ul.child-menu .selected ul.grandchild-menu .selected a,
		ul.child-menu .selected:hover a,
		ul.child-menu .selected ul.grandchild-menu .selected:hover a {
			@include box-shadow(0 0 0 0);
		}
	}
}