@import "compass";
@import url(color-schemes/blue.css);

body {
	font: 13px/1.5em Helvetica, Arial, sans-serif;
	color: #1A1A1A;
}

#navigation h1, #skip-to-content, .page-title, .powered-by, .site-breadcrumbs {
	display: none;
}

#banner {
	border-bottom: solid 2px #DFDFDF;
	float: left;
	height: 43px;
	width: 100%;
}

#sign-in {
	border: solid 1px #DFDFDF;
	box-shadow: 0px 1px 0px #FFF;
	color: #1A1A1A;
	float: right;
	margin: 9px 9px;
	padding: 3px 15px;
	text-decoration: none;
}

.site-title {
	float: left;
	margin: 0;
	
	img {
		border-right: solid 1px #DFDFDF;
		height: 40px;
		padding: 3px 14px 0px 12px;
		width: auto;
	}
}

/* ---------- NAVIGATION ---------- */

#navigation {
	
	ul {
		border: solid 1px #DFDFDF;
		box-shadow: 0px 1px 0px #FFF;
		float: left;
		list-style: none;
		margin: 9px 25px;
		
		&:after {
			content: "";
			clear: both;
		}
	}
	
	li {
		border-right: solid 1px #DFDFDF;
		float: left;
		text-shadow: 0px 1px 0px #FFF;
		position: relative;
		
		&:hover .child-menu {
			background: #EAEAEA;
			border: solid 1px #CFCFCF;
			box-shadow: 0px 2px 5px #BFBFBF;
			display: block;
			float: none;
			left: -50px;
			margin: 5px 0 0 0;
			position: absolute;
			top: 100%;
			width: 200px;
			z-index: 5;
		}

		&:last-child {
			border-right: 0;
		}
	}

	a {
		border: solid 1px transparent;
		color: #1A1A1A;
		display: block;
		padding: 3px 20px;
		text-decoration: none;
		word-wrap: break-word;
	}

	.child-menu {
		display: none;

		li {
			background: #FFF;
			border: solid 1px #DFDFDF;
			border-top: 0;
			box-shadow: 0 0 0;
			float: none;
			margin: 0 auto;
			padding: 0;
			width: 190px;
			
			a {
				border: solid 1px transparent;
				display: block;
				padding: 5px;
				text-align: center;
			}
			
			&:first-child {
				border-top: solid 1px #DFDFDF;
				margin-top: 5px;
			}

			&:last-child {
				box-shadow: 0 1px 0 #FFF;
				margin-bottom: 5px;
			}

			&:last-child:hover {
				box-shadow: 1px 1px 0 #FFF;
			}
				
			&:hover .grandchild-menu {
				background: #EAEAEA;
				box-shadow: 0px 2px 5px #BFBFBF;
				display: block;
				left: 175px;
				position: absolute;
				top: -13px;
				width: 150px;
				z-index: 10;
			}
		}
		
		&:before {
			border: 10px solid transparent;
			border-bottom-color: #EAEAEA;
			content: "";
			display: block;
			left: 90px;
			position: absolute;
			top: -19px;
			z-index: 10;
		}

		&:after {
			border: 10px solid transparent;
			border-bottom-color: #CFCFCF;
			content: "";
			display: block;
			left: 90px;
			position: absolute;
			top: -20px;
			z-index: 9;
		}
		
		.selected .grandchild-menu a:hover {
			border: 0;
			box-shadow: 0 0 0;
		}
		
		.selected, .selected:hover {
			background: #878787;
			box-shadow: #575757 0px 0px 15px 0px inset;
			height: auto;
		}
	}

	.grandchild-menu {
		display: none;
		
		li {
			width: 140px;
		}
		
		&:before {
			border: 10px solid transparent;
			border-right-color: #EAEAEA;
			content: "";
			display: block;
			left: -19px;
			position: absolute;
			top: 9px;
			z-index: 10;
		}
		
		&:after {
			border: 10px solid transparent;
			border-right-color: #CFCFCF;
			content: "";
			display: block;
			left: -20px;
			position: absolute;
			top: 9px;
			z-index: 9;
		}
	}

	.selected {
		.child-menu .selected a {
			color: #FFF;
			text-shadow: -1px -1px 0px #000;
		}

		a, .child-menu .selected a, .child-menu .selected a:hover {
			background: #878787;
			border: solid 1px #555555;
			box-shadow: #575757 0px 0px 15px 0px inset;
			color: #FFF;
			text-shadow: -1px -1px 0 #000;
		}
		
		.child-menu a, .child-menu .selected .grandchild-menu a {
			background: #FFF;
			box-shadow: 0 0 0 0;
			border: 0;
			text-shadow: 0 0 0;
		}

		a:hover, .child-menu .selected a:hover {
			color: #DFDFDF;
		}
		
		.child-menu a, .child-menu .selected .grandchild-menu a, .child-menu .selected .grandchild-menu a:hover {
			color: #1A1A1A;
			text-shadow: none;
		}
	}
}

#navigation li:hover, #sign-in:hover {
	box-shadow: 1px 0px 0px #FFF;
}

#navigation li:last-child:hover {
	box-shadow: 0 0 0;
}

/* ---------- PORTLET ---------- */

.portlet-column-content {
	margin: 7px 5px;
	padding: 5px 2.5px;
}

.portlet-column {
	&:first-child {
		padding-left: 8px;
	}

	&:last-child {
		padding-right: 8px;
	}
}

.portlet-topper {
	border: solid 1px #DFDFDF;
	padding: 3px;
	text-shadow: 0px 1px 0px #FFF;
}

.portlet-title .icon{
	padding: 3px;
}

.portlet-title-text {
	padding: 3px 80px 3px 3px;
	text-shadow: 0px 1px 0px #FFF;
}

.portlet-topper-toolbar {
	float: right;
	padding: 0;
}

.portlet a {
	color: #1A1A1A;
	
	&:hover {
		color: #8F8F8F;
		text-decoration: none;
	}
}

/* ---------- MISCELLANEOUS ---------- */

.aui-column-content {
	padding: 0;
}

.breadcrumbs li {
	padding: 5px;
}

.header-back-to {
	float: right;
	margin: 15px;
}

.lfr-header-row, .portlet-section-header th, .portlet-wiki .child-pages h2, .results-row.alt td, .site-breadcrumbs {
	border: solid 1px #DFDFDF;
	color: #1A1A1A;
}

.lfr-header-row-content {
	padding: 7px;
}

.lfr-panel-container {
	border: solid 1px #DFDFDF;
	padding: 5px;
}

/* ---------- EXTRAS ---------- */

#banner {
	@include background(linear-gradient(#FFF, #EAEAEA));
}

#navigation ul, .portlet-topper, #sign-in {
	@include background(linear-gradient(#FFF, #EAEAEA));
	@include border-radius(4px);
}

#navigation .selected:first-child a, #navigation .selected:hover:first-child a, #navigation li:first-child:hover {
	@include border-corner-radius(top, left, 4px);
	@include border-corner-radius(bottom, left, 4px);
}

#navigation .selected:last-child a, #navigation .selected:hover:last-child a, #navigation li:last-child:hover {
	@include border-corner-radius(top, right, 4px);
	@include border-corner-radius(bottom, right, 4px);
}

#navigation .selected .child-menu li, #navigation .selected .child-menu li, #navigation .selected .child-menu li:hover, #navigation .child-menu li:hover, #navigation .grandchild-menu .selected li a {
	@include border-radius(0px);
}

#navigation li:hover, #sign-in:hover, #navigation .child-menu li:hover, #navigation .selected .child-menu a:hover, #navigation .child-menu .selected .grandchild-menu a:hover {
	@include background(linear-gradient(#EFEFEF, #CFCFCF));
}

#navigation .child-menu li:first-child, #navigation .child-menu li:hover:first-child, #navigation .selected .child-menu li:first-child a, #navigation .selected .child-menu li:first-child a:hover {
	@include border-corner-radius(top, right, 4px);
	@include border-corner-radius(top, left, 4px);
}

#navigation .child-menu li:last-child, #navigation .child-menu li:hover:last-child, #navigation .selected .child-menu li:last-child a, #navigation .selected .child-menu li:last-child a:hover {
	@include border-corner-radius(bottom, right, 4px);
	@include border-corner-radius(bottom, left, 4px);
}

.lfr-panel-container {
	@include border-radius(4px);
}