<nav class="$nav_css_class" id="navigation">
	<h1>
		<span>#language("navigation")</span>
	</h1>

	<ul>
		#foreach ($nav_item in $nav_items)
			#set ($navHasChildren = $nav_item.hasChildren())
			#set ($nav_item_class = "")

			#if ($nav_item.isSelected())
				#set ($nav_item_class = ${nav_item_class} + "selected")
			#end
			#if ($navHasChildren)
				#set ($nav_item_class = ${nav_item_class} + " has-children")
			#end

				<li class="$nav_item_class">
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()
					#if ($navHasChildren)
						▾
					#end

				</span></a>

				#if ($navHasChildren)
					<ul class="child-menu">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>

								#if ($nav_child.hasChildren())
									<ul class="grandchild-menu">
										#foreach ($nav_grandchild in $nav_child.getChildren())
											#if ($nav_grandchild.isSelected())
												<li class="selected">
											#else
												<li>
											#end
												<a href="$nav_grandchild.getURL()" $nav_grandchild.getTarget()>$nav_grandchild.getName()</a>
											</li>
										#end
									</ul>
								#end
							</li>
						#end
					</ul>
				#end
			</li>
		#end
	</ul>
</nav>