body.day {
	background: #1C3240 url(../../images/color_schemes/day/bg.png) repeat-x 100% 0;
}

.day {
	#footer {
		background: url(../../images/color_schemes/day/footer-bg.png) repeat;
		text-shadow: 1px 1px 1px #000;
	}

	#navigation {
		span {
			text-shadow: 0 2px 0 #FFF;
		}

		ul li.selected a {
			background: url(../../images/color_schemes/day/nav-selected.png) repeat-x 100% 5px;
		}
	}

	.portlet-content {
		background: #f5f5f5 url(../../images/color_schemes/day/port-body.png) repeat;
	}

	.portlet-topper {
		background: url(../../images/color_schemes/day/port-topper.png) repeat-x;
	}

	#navigation a, .portlet a, .portlet a.selected, .portlet-body, .portlet-topper {
		color: #454545;
	}
}