@import "compass";

/* ---------- Global ---------- */

#breadcrumbs h1, #heading .company-title span, #heading .page-title, .obscured, #navigation h1, #navigation .child-menu, #skip-to-content {
	clip: rect(0 0 0 0);
	position: absolute;
}

a {
	color: #D05B00;

	&:hover, &:focus {
		color: #06C;

		.callout-extraborder {
			@include background-image(linear-gradient(top left, #DDD, #EEE));
			border-color: #FFF;
		}
	}
}

body {
	background-color: #EEF0F2;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px/1;
}

/* ---------- Wrapper ---------- */

#wrapper {
	margin: 43px auto;
	position: relative;
	width: 940px;
}

/* ---------- Skip to content ---------- */

#skip-to-content:focus {
	left: auto;
	right: 0;
	top: -2.4em;
}

/* ---------- Banner ---------- */

#heading {
	margin-bottom: 26px;
	min-height: 40px;
}

/* ---------- Sign In ---------- */

#sign-in {
	background: url(../images/custom/login_icon.png) no-repeat 3px 50%;
	font-weight: bold;
	position: absolute;
	right: 0;
	top: -1em;
}

/* ---------- Heading ---------- */

#heading .site-title {
	margin: 0;

	.site-name {
		@include border-radius(4px);
		@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #FFF);
		background-color: #1F4E6E;
		color: #FFF;
		float: right;
		font-size: 1em;
		font-weight: bold;
		padding: 7px 17px 7px 17px;
		position: absolute;
		right: 0;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
		top: -1.5em;
	}
}

.signed-out #heading .site-title .site-name {
	margin-top: 4em;
}

/* ---------- Navigation ---------- */

#navigation {
	position: absolute;
	right: 0;
	top: 11px;

	a {
		color: #FFF;
		outline: 0;
		padding: 11px 13px;
		text-decoration: none;

		&:active, &:focus {
			@include background(#154661);
			@include background-image(linear-gradient(top left, #1D4663, #154661));
			@include border-radius(3px);

			span {
				position: relative;
				top: 2px;
			}
		}
	}

	ul {
		@include background(#10354A);
		@include background-image(linear-gradient(top left, #215172, #10354A));
		@include border-radius(4px);
		border: 1px solid;
		border-color: #597D95 #506E82 #879AA5;
		float: right;
		font-size: 12px;
		font-weight: bold;
		line-height: 1;
		list-style: none;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
}

#navigation a, #navigation li {
	display: inline-block;
	position: relative;
}

#navigation a:active, #navigation a:focus, #navigation a:hover, #navigation .selected a {
	color: #BBB;
}

.ie6 #navigation a, .ie6 #navigation li, .ie7 #navigation a, .ie7 #navigation li {
	display: inline;
	zoom: 1;
}

/* ---------- Layout ---------- */

.portlet-column-content {
	padding: 0 10px 20px;
}

.portlet-column-content-first, .portlet-column-content-only {
	padding-left: 0;
}

.portlet-column-content-last, .portlet-column-content-only {
	padding-right: 0;
}

/* ---------- Portlet ---------- */

#page-banner {
	@include border-radius(3px);
	background: #215172 url(../images/custom/page-banner_bg.png) no-repeat right center;
	color: #FFF;
	font-size: 2.2em;
	margin: 0;
	padding: 0.5em 0.8em;
}

.portlet {
	.portlet-title {
		color: #FFF;
		font-weight: normal;
		margin: 0;
		min-height: 1em;
		padding: 9px 13px;
	}

	.portlet-topper {
		@include background(#215172);
		@include border-radius(4px);
		font-weight: bold;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.portlet-topper-toolbar {
		right: 6px;
		top: 7px;
	}
}

.portlet-body {
	margin: 0;
}

.portlet-sign-in .portlet-title {
	background-image: url(../images/custom/login_icon.png);
}

/* ---------- Footer ---------- */

.after-icon-callout {
	margin: 0 0 16px 132px;

	h1 {
		color: #215172;
		font-size: 16px;
		font-weight: bold;
		line-height: 1.125;
		margin: 0 0 2px;
	}

	p {
		color: #474A4B;
		line-height: 1.75;
		margin: 0;
	}
}

.article {
	h1 {
		color: #215172;
		font-size: 2.2em;
		font-weight: normal;
		line-height: 1.125;
		margin: 0 0 12px;
	}

	h2 {
		color: #484A4C;
		font-size: 1.2em;
		line-height: 1.125;
		margin: 0 0 12px;
	}

	p {
		line-height: 1.7;
	}
}

.callout {
	@include background(#EEEFEF);
	@include background-image(linear-gradient(top left, #D2D2D3, #EEEFEF));
	@include border-radius(4px);
	border: 1px solid;
	border-color: #808080 #777 #404040;
}

.callout-content {
	height: 95px;
	padding: 14px 24px;
}

.callout-extraborder {
	@include border-radius(4px);
	border: 1px solid #EEE;
}

#footer {
	text-align: right;
}

.home .callout-extraborder img {
	height: auto !important;
	width: 846px !important;
}

.portlet-journal-content .portlet-body {
	h1 {
		font-size: 1.25em;
		line-height: 1.125;
		margin: 0 0 12px;
	}

	li {
		background: url(../images/custom/marker.png) no-repeat 0 0.4em;
		margin-bottom: 6px;
		padding-left: 20px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0 0 0 2px;
	}

	.small-after-icon-callout h1 {
		margin: 0 0 3px;
	}
}

.small-article {
	margin-bottom: 20px;

	h1 {
		font-size: 1.2em;
		margin: 0.5em 0;
	}

	h2 {
		font-size: 1em;
		margin: 0.25em 0;
	}

	p {
		font-size: 90%;
		line-height: 2;
	}
}

.small-after-icon-callout {
	border-bottom: 1px solid #777;
	padding: 5px 0 5px 85px;
}

/* ---------- Breadcrumbs ---------- */

.breadcrumbs {
	margin-bottom: 1.5em;

	li {
		background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
		display: inline;
		margin-right: 5px;
		padding-right: 15px;
	}

	.last {
		background-image: none;
		font-weight: bold;
		margin-top: 0.2em;

		a {
			color: #555;
		}
	}
}

/* ---------- Site breadcrumbs ---------- */

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 200;

	li span {
		background-image: url(../images/common/breadcrumbs_hud.png);
	}

	ul {
		background: rgba(0, 0, 0, 0.8);
	}

	.breadcrumbs li {
		a, span {
			color: #FFF;
		}
	}
}

.site-breadcrumbs {
	margin: 0 0 5px;
	width: auto;

	li {
		background-image: none;
		float: left;
		line-height: 1.8em;
		margin-right: 0;
		padding-left: 0.75em;
		padding-right: 0;

		span {
			background: url(../images/common/breadcrumbs.png) no-repeat 100% 50%;
			display: block;
			line-height: 1.8em;
			padding: 0 15px 0 0;

			a {
				text-decoration: none;
			}
		}

		&.first a {
			color: #369;
			font-weight: bold;
		}

		&.last a {
			color: #4B5567;
			font-size: 1.3em;
		}
	}

	ul {
		background-color: #FFF;
		border: 1px solid #DEDEDE;
		border-color: #C0C2C5;
		height: 1.8em;
		margin: 0;
	}

	.last {
		display: inline;
		font-size: 1em;
		margin-top: 0;
		padding-right: 0;

		span {
			background-image: none;
			padding: 0;
		}
	}
}

/* -------- Custom Seven Cogs Panels ------------ */

.lfr-panel-container {
	background-color: transparent;
}

/* -------- Custom Seven Cogs Web Content Mixin -------- */

@mixin customContent($viewClass, $width){
	&.#{$viewClass} {
		.home .callout-extraborder img {
			height: auto !important;
			padding: 12px !important;
			width: $width - 24px !important;
		}
	}
}
/* -------- Width Selector Mixin -------- */

@mixin viewSelector($viewSelector, $width) {
	&.#{$viewSelector} {
		#wrapper {
			margin: 20px auto 0;
			width: $width !important;
		}

		.portlet-layout {
			display: inline-block;
			clear: both;

			.portlet-column {
				clear: both;
				float: left;
				padding: inherit 0 !important;
				width: $width !important;

				.portlet-column-content {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		#navigation li {
			width: $width !important;
		}
	}
}

/* -------- Width Selector Mixin -------- */

@mixin widthSelector($selector, $sWidth, $mWidth, $lWidth) {
	html.#{$selector}{
		@if $selector != device-brand-unknown {

/* -------- Custom Seven Cogs Web Content -------- */

			@include customContent("aui-view-4", $sWidth);
			@include customContent("aui-view-320", $sWidth);
			@include customContent("aui-view-480", $mWidth);
			@include customContent("aui-view-720", $lWidth);

/* -------- Seven Cogs Mobile Views -------- */

			&.aui-view-4, &.aui-view-320, &.aui-view-480, &.aui-view-720 {
				#navigation:after,
				#navigation:before {
					clear: both;
					content: " ";
					display: block;
					height: 0;
					visibility: "hidden";
				}

				#navigation {
					@include border-radius(5px);
					@include transition-property(color);
					@include transition-duration(333ms);
					background: none repeat scroll 0 0 transparent;
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
					clear: both;
					color: #444444;
					display: block;
					margin: 0 0 40px;
					padding: 0;
					position: relative;

					ul {
						display: block;
						float: none;
						list-style: none;
						margin: 0;
						padding: 0;
						background: none;

						li {
							clear: both;
							color: #444;
							float: none;

							a {
								@include background-image(linear-gradient(top left, #FDFDFD, #EEEEEE));
								border-image: none;
								border-color: #CCCCCC;
								border-style: solid;
								border-width: 1px 1px 0;
								color: inherit;
								display: block;
								font-size: 16px;
								line-height: 27px;
								padding: 9px 20px 8px;
							}
						}

						li a:hover, li.selected a{
							@include background-image(linear-gradient(top left, #1D4663, #154661));
							border-color: #5E87B0;
							color: #FFFFFF;
						}

						li.first a {
							border-radius: 5px 5px 0 0;
						}

						li.last a {
							border-radius: 0 0 5px 5px;
						}
					}
				}

				#breadcrumbs {
					display: none;
				}
			}

			@include viewSelector("aui-view-4", $sWidth);
			@include viewSelector("aui-view-320", $sWidth);
			@include viewSelector("aui-view-480", $mWidth);
			@include viewSelector("aui-view-720", $lWidth);
		}
	}
}

/* -------- Depends on wurfl-web -------- */

@include widthSelector("device-os-android.touch", 320px, 580px, 720px);
@include widthSelector("device-os-iphone-os.touch", 300px, 460px, 720px);

/* -------- Default Mobile -------- */

@include widthSelector("device-brand-unknown", 960px, 960px, 960px);
@include widthSelector("touch", 300px, 460px, 720px);
