@import "compass";

/* -------- Global -------- */

#heading .page-title, #navigation h1, #navigation .child-menu, #skip-to-content {
	clip: rect(0 0 0 0);
	position: absolute;
}

body {
	background-color: #828F95;
}

html {
	min-height: 100%;
}

#heading, #navigation {
	margin: 0 auto;
	width: 960px;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#sign-in {
	bottom: 5em;
	position: absolute;
	right: 5em;
}

#skip-to-content {
	right: 2em;
	top: 1.5em;
	z-index: 1;

	&:active, &:focus {
		clip: auto;
	}
}

#sign-in, #skip-to-content {
	color: #FFF;
}

#wrapper {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px/1.5;
}

/* -------- Banner -------- */

#banner {
	@include background-image(linear-gradient(top left, #0E1114, #1E262D));
	@include box-shadow(0 1px 2px #999);
	background-color: #1E262D;
	position: relative;
}

#heading .site-title {
	margin: 0;
	padding: 25px 0 20px;

	.site-name {
		@include border-radius(4px);
		@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #FFF);
		background-color: #828F95;
		color: #FFF;
		font-size: 1em;
		font-weight: bold;
		left: 19em;
		padding: 3px 13px 3px 13px;
		position: relative;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
		top: -1em;
	}
}

/* -------- Navigation -------- */

#navigation {
	position: relative;

	a {
		@include background-image(linear-gradient(top left, #222E35, #070A0B));
		@include border-top-left-radius(4px);
		@include border-top-right-radius(4px);
		background-color: #222E35;
		border: 1px solid;
		border-color: #373F43 #141B1E #000 #1A2327;
		color: #83B1C0;
		display: block;
		padding: 10px 25px;
		text-decoration: none;

		&:active, &:focus, &:hover {
			color: #FFF;
		}
	}

	ul {
		@include box-shadow(-1px 0 0 #13191D);
		bottom: 0;
		list-style: none;
		margin: 0;
		position: absolute;
		right: 0;
	}

	.selected a {
		@include background-image(linear-gradient(top, #253239, #222E34));
	}
}

#navigation a, #navigation li {
	float: left;
}

/* -------- Content -------- */

#breadcrumbs {
	display: none;
}

#content {
	@include background-image(linear-gradient(top left, #DfE1E3, #828F95));
	overflow: hidden;
}

#main-content {
	@include border-top-left-radius(4px);
	@include border-top-right-radius(4px);
	background-color: #FFF;
	margin: 15px auto 0;
	padding: 25px;
	width: 910px;
}

/* -------- Footer -------- */

#footer {
	@include border-bottom-left-radius(3px);
	@include border-bottom-right-radius(3px);
	background-color: #DAE4E7;
	margin: 0 auto 15px;
	padding: 20px 25px;
	width: 910px;

	p {
		margin: 0;
	}
}