@import "compass";

/* -------- Global -------- */

#heading .page-title, #navigation h1, #navigation .child-menu, #skip-to-content {
	clip: rect(0 0 0 0);
	position: absolute;
}

#footer, #heading {
	margin: 0 auto;
	width: 960px;
}

/* -------- Wrapper / Skip / Sign-in -------- */

#sign-in {
	position: absolute;
	top: 3.5em;
}

#skip-to-content {
	top: 1em;
	z-index: 2;

	&:active, &:focus {
		clip: auto;
	}
}

#sign-in, #skip-to-content {
	color: #FFF;
	right: 2em;
}

#wrapper {
	overflow: hidden;
}

/* -------- Banner -------- */

#banner {
	@include background-image(linear-gradient(top, #B00000, #570000));
	@include box-shadow(0 0 9px #333);
	background-color: #B00000;
	padding: 20px 0 210px;
	position: relative;
}

.blue #banner {
	@include background-image(linear-gradient(top, #0057B0, #002B57));
	background-color: #0057B0;
}

.green #banner {
	@include background-image(linear-gradient(top, #00B017, #00570C));
	background-color: #00B017;
}

#heading .site-title {
	margin: 0;

	.site-name {
		@include border-radius(4px);
		@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 1px #FFF);
		color: #FFF;
		float: right;
		font-size: 16px;
		font-weight: bold;
		margin-top: -5px;
		padding: 3px 13px 3px 13px;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	}
}

.signed-out #heading .site-title .site-name {
	margin-top: -17px;
}

.ie7 {
	#heading .site-title .site-name {
		position: absolute;
		right: 4em;
		top: 1em;
	}

	.signed-out #heading .site-title .site-name {
		margin-top: 5px;
	}
}

/* -------- Navigation -------- */

#navigation {
	bottom: 230px;
	font-size: 14px;
	left: 50%;
	margin: 0 0 0 -480px;
	position: absolute;
	width: 960px;

	a {
		color: #FFF;
		display: block;
		margin: 0 0 0 20px;
		padding: 3px 10px;
		text-decoration: none;
	}

	ul {
		float: right;
		list-style: none;
		margin: 0;

		&:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}
	}

	.selected a {
		border-bottom: 2px solid #EEE;
	}
}

#navigation a, #navigation li {
	float: left;
}

.ie6 #navigation ul, .ie7 #navigation ul {
	zoom: 1;
}

.ie7 #navigation a {
	height: 17px;
}

/* -------- Content -------- */

#breadcrumbs {
	display: none;
}

#content {
	@include border-radius(10px);
	@include box-shadow(0 0 8px #000);
	background-color: #FFF;
	margin: -190px auto 0;
	padding: 20px;
	position: relative;
	width: 920px;
	z-index: 1;
}

.ie6 #content, .ie7 #content, .ie8 #content {
	border: 1px solid #555;
}

/* -------- Footer -------- */

#footer p {
	margin: 1em 0;
}