## ---------- Logo ---------- ##

#if (($company.getLogoId() == 0) && $use_company_logo && $theme_settings.display-company-logo != true)
	#set ($site_logo = "${images_folder}/custom/logo.png")
	#set ($site_logo_height = 62)
	#set ($site_logo_width = 156)
#end

## ---------- Footer Web Content ---------- ##

#if ($theme_settings.footer-section-1-article-id)
	#set ($footer_section_1 = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-1-article-id, null, "$locale", $theme_display))
#else
	#set ($footer_section_1 = $journalContentUtil.getContent($group_id, "FOOTER-BLURB", null, "$locale", $theme_display))
#end

#if ($theme_settings.footer-section-2-article-id)
	#set ($footer_section_2 = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-2-article-id, null, "$locale", $theme_display))
#end

#if ($theme_settings.footer-section-3-article-id)
	#set ($footer_section_3 = $journalContentUtil.getContent($group_id, $theme_settings.footer-section-3-article-id, null, "$locale", $theme_display))
#else
	#set ($footer_section_3 = $journalContentUtil.getContent($group_id, "FOOTER-CONTACT", null, "$locale", $theme_display))
#end

## ---------- Mobile ---------- ##

#set ($is_mobile_enabled = $getterUtil.getBoolean($sessionClicks.get($request, "mobile-enabled", "true")))

#set ($meta_data_mobile = '')

#set ($user_agent = $request.getHeader("User-Agent").toLowerCase())

#set ($is_iphone = $user_agent.indexOf("iphone") != -1)

#set ($is_ipad = $user_agent.indexOf("ipad") != -1)

#set ($is_android = $user_agent.indexOf("android")!= -1)

#set ($is_mobile = $is_android || $is_ipad || $is_iphone)

#set ($html_class = "")

#if ($is_mobile_enabled == true)
	#set ($css_class = "${css_class} mobile-enabled")
	#set ($meta_data_mobile = '<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">')
#end

#if ($is_mobile)
	#set ($css_class = "${css_class} mobile")
#end